body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo-title {
    margin-top: 25px;
    font-size: 28px;
    letter-spacing: 2px;
}

.menu {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 15px 0;
    width: 80%;
    margin: 20px auto;
}

.menu a {
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
    color: black;
}

.images img {
    width: 60%;
    margin-top: 20px;
}

.text {
    width: 60%;
    margin: 20px auto;
    font-size: 17px;
    line-height: 1.5;
}
